
    #bio{float:left;width:60%;}
    #ludwig{float:right;margin-right:30px}
body{background:gray}
p{background: rgb(
71, 71, 71)}
h1{color:white;background: rgb(
  71, 71, 71)}
h2{color:white;background: rgb(
71, 71, 71)}
p{color:white}

  ul{background: rgb(181, 176, 176)}
footer{background: white}